.header{
    
    &__link{
        text-decoration: none;
        background: orange;
        color: #fff;
        padding: .7rem 1.2rem;
        border-radius: 4px;
        
       
    }
    &__btn{
        padding: .5rem 1rem;
        border-radius: 2px;

    }

    &__border{  
        border: 1px solid #fff;

    }
    &__solid{
        background-color: #fff;
    }
    
}

.category__btn{
    text-decoration: none;
    color: #fff;
    background-color:orange ;
    padding: .6rem 1rem;
}

.history__btn{
    padding: .8rem 1rem;
    text-decoration: none;
    background-color: orange;
    color: #fff;
    box-shadow: 2px 2px 4px #000;
    border-radius: 5px;
}

.product__btn{
    color: orange;
    text-decoration: none;
    padding:.5rem 1rem ;
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #999;
}


.email__btn{
    background-color: orange;
    color: #fff;
    border-radius: 10px;
    padding: .7rem 1rem;
    // box-shadow: 2px 2px 4px #000;
    width: 10rem;
    margin: 0 auto;
}
