.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.623)),url(./../../../images/pexels-shattha-pilabut-135620.jpg);
    // background-image:linear-gradient(rgba(185, 0, 0, 0.726),rgba(173, 0, 0, 0.671)) ,url(./../../../images/pexels-lumn-322207.jpg);
    background-attachment: fixed;
    height: 100vh;

    &__hero-content{
        width: 40%;
        text-align: center;
        padding: 1rem 0;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__description{
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 2.2rem;

        @include phone {
            font-size: 1rem;
        }

    }
    
    
}