body{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: #fff;
    // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);
    padding: .6rem 0;
    
    &__content{
        
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 80%;
     margin: 0 auto;

     @include phone {
         flex-direction: column;
     }
    }
    &__list{
        display: flex;
        list-style: none;
    }

    &__item{
        margin: 0 1.2rem;
        color: #555;
        @include phone {
            margin: .2rem .4rem;
        }
    }
 
    &__link{
        color: #000;
        text-decoration: none;
    }
}

.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}