.header__title{
    font-size: 3rem;
    color: #fff;
    padding-top: 7rem;
    @include phone {
        margin: 6rem 0 0 0;
        font-size: 2rem;
    }

}
.category__title{
    color: #fff;
    
    font-size: 1.7rem;

    &--orange{
        color: orange;
    }
    &--gray{
        color: #999;
    }
}

.cat__title{
    color: #fff; 
    text-align: center;
    font-size: 2.3rem;
}

    
    
.email__title{
    color: #999;
    font-size: 2rem;
    text-align:center ;

    
    @include phone {
        font-size:1.2rem;

    }
    

}

.history__title{
    color: #000;
    margin-top: 0;
    font-size: 1.6rem;   
}

.pro-title{ 
    color: #fff;
    text-align: center;
    font-size: 2.3rem;
    // margin: 0;
}

.review__title{
    margin: 0 0 .4rem 0;
    color: #999;
    font-weight: 200;
    font-size: 1.4rem;
}
.title{
    font-size: 2.3rem;
    color:#000;
    text-align: center;

}

